section {
  max-width: 100%;
  overflow-x: hidden;
}

.profile-area {
  display: flex;
  align-items: center;
  padding: 15px 30px;
}

.profile-logo{
  width: 150px;
  position: absolute;

  left: 5%;
  top: 50%;
  transform: translate(-5%, -50%);
}

.name-profile-area {
  text-align: center;
  width: 100%;
}

.theme-image {
  display: none;
}

.profile-area-photo-box {
  width: 100px;
  overflow: hidden;
}

.user-photo {
  width: 63px;
  height: 63px;
  border-radius: 34px;
  /* width: 120px;
  height: 120px; */
  border-radius: 60px; 
} 


.user-photo:hover {
  opacity: 0.5;
  cursor: pointer;
} 

#name-user {
  text-align: center;
  color: #403E56;
  font-size: 25px;
}

.profile-area-interests {
  display: flex;
  align-items: center;
}

.profile-interests {
  display: flex;
  align-items: center;
  padding-top: 0px;
  flex-wrap: wrap;
  color: #D9D9D9;
  width: 600px;
  font-size: 0.2 rem;
  margin: 10px;
}

.img {
  margin: 10px;
  width: 50px;
  height: 50px;
  cursor:pointer;
  margin-bottom: 30px;
}

.image-upload > input {
  visibility:hidden;
  width:0;
  height:0
}

.interest {
  margin-right: 30px;
}


.profile-area {
  flex-direction: column;
  height: 400px;
  /* width: 60%; */
  padding: 0px;
  width: 100vw;
  background-color: #D9D9D9;

}

.profile-area-theme {
  width: 100vw;
  height: 35%;
}

.profile-area-photo-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding-top: 0px;
}

.theme-image {
  display: block;
  width: 100%;
  height: 200px;
  width: 100vw;

}

.user-photo {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  margin-bottom: 30px;
} 

.profile-area-interests {
  width: 100vw;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #D9D9D9;
}

.code {
  width: 100%;
  background-color: #D9D9D9;
  overflow: hidden;
  position: relative;
  height: 350px;
}

.svg {
  display: none;
  position: absolute;
  bottom: -10px;
  width: 700px;
  left: 0;
  right: 0;
  margin: auto;
}

#macbook {
  display: block;
  animation: macbook .7s linear;
  transition: all .7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#coder {
  animation: coder .8s linear;
  transform-origin: center center;
}

#coffee {
  animation: coffee 1s linear;
  transform-origin: 83% 80%;
}

#smoke {
  animation: smoke 3s infinite;
}

@keyframes macbook {
  0%{transform: translateY(300px)}
  50%{transform: translateY(10px)}
  100% {transform: translateY(0px)}
}

@keyframes coder {
  0%{transform: scale(0); opacity: 0}
  50%{transform: scale(1.5); opacity: 1}
  100% {transform: scale(1); opacity:1}
}

@keyframes coffee {
  0%{transform: scale(0); opacity: 0}
  50%{transform: scale(1.5); opacity: 1}
  100% {transform: scale(1); opacity:1}
}

@keyframes smoke {
  0%{transform: translateY(0px); opacity: 1;}
  50%{ opacity: .5;}
  100%{transform: translateY(-15px); opacity: 0;}
}

  @media only screen and (min-width: 768px) {  
    .svg {
      display: flex;
      position: absolute;
      bottom: -10px;
      width: 700px;
      left: 0;
      right: 0;
      margin: auto;
    }
} 