
:root {
  --teal: #FF637A;
  --ultra-pink: #FF637A;
  --space-cadet: #373737;
  --dark-gray: #444444;
  --medium-gray: #ACACAC;
  --light-gray: #EFF0F4;
  --font-gray: #CCCCCC;
  --background-color: #D9D9D9;
}

